$tory-blue:#115da3;
$picton-blue:#4ecfed;
$base-white: #ffffff;
$curious-blue: #2685bd;
$shakespeare: #65aed5;
$tundora: #4a4a4a;
$alto: #d8d8d8;

$image-2x-ratio: 1.25;
$image-2x-ratio-o: 5/4;

$image-3x-ratio: 2.25;
$image-3x-ratio-o: 9/4;

$screen-md-size:768px;